header {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    color: #454444;
    font-family: 'Open Sans', sans-serif;
    background-color: #454444;
}
/*********** HEADER ************/
.topnav {
    background-color: #eda233;
    overflow: hidden;
}

.topnav a {
    float: right;
    color: #F6F5F5;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
    font-size: 14px;
}
  
.topnav a:hover {
    background-color: #F6F5F5;
    color: #383737;
}
  
.topnav a.active {
    background-color: #eda233;
    color: #F6F5F5;
}

.topnav-left a {
    float: left;
    color: #F6F5F5;
    text-align: center;
    padding-left: 25px;
    text-decoration: none;
    font-size: 20px;
    padding-bottom: 0px;
}

h1 {
    color: white;
    margin-bottom: 10px;
    text-align: left;
    font-size: 20px;
}

h2 {
    position: relative;
    font-size: 25px;
    color: white;
    padding: 50px;
    padding-left: 75px;
    padding-bottom: 0px;
    margin-bottom: 28px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}


/* h4 {
    color: white;
    margin-right: 50px;
    padding-bottom: 50px;
    margin-top: 0px;
    text-align: right;
    position: relative;
    font-size: 12px;
} */


.image_column {
    display: flex;
    flex-direction: row;
  }
  
.image_1 {
    flex-basis: 33%;
    text-align: center;
    background: url('https://images.unsplash.com/photo-1545239351-1141bd82e8a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=962&q=80') top no-repeat;
    background-size: cover;
    height: 13cm;
    width: 25%;
    margin: 40px;
    margin-left: 70px;
    border-radius: 35px;
    border: 2px solid #F6F5F5;
}

.image_2 {
    flex-basis: 33%;
    text-align: center;
    background: url('https://images.unsplash.com/photo-1518976024611-28bf4b48222e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=770&q=80') top no-repeat;
    background-size: cover;
    height: 13cm;
    width: 25%;
    margin: 40px;
    border-radius: 35px;
    border: 2px solid #F6F5F5;
}

.image_3 {
    flex-basis: 33%;
    text-align: center;
    background: url('https://images.unsplash.com/photo-1507831228884-93d43e81a99d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=770&q=80') top no-repeat;
    /* linear-gradient */
    background-size: cover;
    height: 13cm;
    width: 25%;
    margin: 40px;
    margin-right: 70px;
    border-radius: 35px;
    border: 2px solid #F6F5F5;
}

    
.home_option {
    text-align: center;
    font-size: 14px;
    width: 55%;
    padding: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 410px;
    background-color: #F6F5F5;
    border: 2px solid #cecece;
    border-radius: 35px;
    display: inline-block;
}

.home_option:hover {
    background: #DFDFDF;
    color: #454444;
}

/*********** APPOINTMENT ************/

#buttons {
    clear: left;
    display: flex;
    justify-content: right;
}

.button_option {
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 13px;
    top: 370px;
    margin-right: 70px;
    margin-bottom: 50px;
    /*margin: 25px 50px 100px 0px;*/
    background-color: #F6F5F5;
    border: 1px solid #c2c2c2;
    border-radius: 25px;
    display: inline-block;
    position: relative;
}

.button_option:hover {
    background: #DFDFDF;
    color: #454444;
}

.appointment_options { /* the two options of appointment type */
    color: white;
    position: relative;
    text-align: left;
    padding-left: 535px;
    padding-top: 25px;
}

/*********** LAB RESULTS ************/
.table-background {
    border: 10px;
    padding: 15px;
    background: #F6F5F5;
    background-clip: padding-box;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 15px;
    padding-top: 0px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
    box-shadow: inset #5f5f5f;
    }

.tableFixHead          { overflow: auto; height: 100px; }
.tableFixHead thead th { position: absolute; top: 0; z-index: 1; }

table  { border-collapse: collapse; 
         overflow-y: scroll;
         overflow-x: hidden;
         width: 100%; 
         margin-top: 0px;
         margin-left:auto; 
         margin-right:auto; 
        }

th, td { padding: 8px 16px; 
         line-height: 55px;
         background:#F6F5F5; 
         color: #585757;
         font-size: 15px;
        }
tr  {
    border-bottom: 1px solid #585757;
    }

th  { background:#F6F5F5; 
         text-align: left;
         color: #585757;
    }


.back_button {
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 13px;
    top: 140px;
    margin-left: 1300px;
    margin-right: 75px;
    margin-left: 1300px;
    background-color: #F6F5F5;
    border-radius: 25px;
    display: inline-block;
    position: absolute;
}

.back_button:hover {
    background: #DFDFDF;
    color: #454444;
}