/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400&family=Inter:wght@100;200;300;400&family=Montserrat:wght@100;200;300;400;500;600&display=swap');

/* import css variables */
@import  url(partials/_variables.css);
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Inter', sans-serif; */
/* font-family: 'Inconsolata', monospace; */

/* Navigation Bar */
.navbar {
    opacity: 0.9;
}

.navbar-brand {
    padding: 1rem 1rem 0 9rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.navbar-nav {
    padding-right: 9rem;
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
    color: var(--primary-black);
}

.nav-item {
    padding: 1rem 0 0 3rem;
}

/* .nav-link a {
    color: green;
} */

.nav-link a:hover {
    color: var(--primary-blue);
}

/* .header_area .main-menu .navbar-nav a:hover {
    background: var(--primary-blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
} */


/* Banner Area */
.site-main .site-banner .site-intro h3 {
    padding-top: 43%;
    font-weight: 300;
    margin-left: 29%;
    margin-right: 0;
    font-size: 18px;
    line-height: 32px;
}

.site-main .site-banner .banner-image > img{
    padding: 12.5rem 0;
    margin-left: 6rem;
    width: 20rem;
}

.site-buttons .primary-button {
    color: #FFF;
    background-color: var(--button);
    border-radius: 8px;
    opacity: 0.8;
    padding: 6px 18px 6px 18px;
    margin-top: 7%;
    margin-left: 29%;
}

.site-buttons .primary-button:hover {
    background-color: var(--button-hover);
    opacity: 0.8;
}

.about-info {
    margin-top: 7%;
    margin-left: 0;
    font-size: 18px;
    font-weight: 300;
}

.about-image {
    width: 40%;
    margin-left: 9rem;
    margin-top: 7%;
    margin-right: 0;
}

.site-main { /* Background */
    background-image: linear-gradient(to bottom, #FFF, #ebecf4);
}

.dot {
    width: 250px;
    height: 250px;
    background-color: var(--primary-blue);
    border-radius: 50%;
    margin-left: 9rem;
    display: inline-block;
    opacity: 0.8;
    position: relative;
  }

.dot2 {
    width: 250px;
    height: 250px;
    background-color: var(--second-blue);
    border-radius: 50%;
    margin-left: 9rem;
    display: inline-block;
    opacity: 0.8;
    position: relative;
}

.dot3 {
    width: 250px;
    height: 250px;
    background-color: #FED97A;
    border-radius: 50%;
    margin-left: 9rem;
    display: inline-block;
    opacity: 0.9;
    position: relative;
}

/* Get in Touch text */
.about-area .getInTouch h3 {
    margin-left: 41%;
    margin-top: 37%;
    margin-bottom: 0;
    position: absolute;
    color: var(--second-black);
}

.about-area .getInTouch h3::after{
    content: " ";
    height: 2px;
    width: 9.4vw;
    background: #595958;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-7.5px);
}

.about-area .about-intro h3 {
    margin-left: 41%;
    margin-top: 43%;
    margin-bottom: 0;
    position: absolute;
    color: #FFF;
}
.about-area .about-intro h3::after{
    content: " ";
    height: 1.5px;
    width: 9.4vw;
    background: rgb(255, 255, 255);
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-7.5px);
}

.about-area .about-descrip {
    margin: 0 35% 0 0;
}



/************************** Get in Touch Area ***************************/
.bottom-main {
    background-color: #595958;
}

/* Contact Information Button */
.bottom-main .about-area .getInTouch-info button {
    background: transparent;
    color: #FFF;
    border: 1px solid #AAB3FF;
    border-radius: 50px;
    padding: 18px 35px 18px 35px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin-right: 6%;
}

/* Say hi at: & Connect with me at: Text */
.getInTouch-descrip {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin-top: -2%;
    margin-bottom: 23px;
}

/* .bottom-main .about-area .getInTouch-info .button {
    margin-left: 400px;
} */

/* Get in Touch title */
.site-main .getInTouch-info h3 {
    padding-top: 43%;
    font-weight: 300;
    margin-left: 29%;
    margin-right: 0;
    font-size: 18px;
    line-height: 32px;
}



/***************************** EXPERIENCE SECTION *****************************/

/* Experience Top Area */ 

.site-experience { /* Background */
    background-color: #FFF;
}

.site-experience .experience-area {
    padding: 7rem 2rem;
}

.site-experience .experience-area .experience-title {
    padding: 0 14rem;
}

.site-experience .experience-area .experience-title h1 {
    font-size: 35px;
}

.site-experience > .experience-area .experience {
    background: #EFF1FD;
    padding: 2rem 0;
    width: 18rem;
    margin: 5rem .5rem;
    margin-left: 14%;
    margin-top: -65px;
    border-radius: 1%;
    transition: box-shadow .7s ease;
}

.site-experience > .experience-area .experience h5 { /* Three titles in each box */
    margin-bottom: 25px;
    margin-top: 8px;
    font-family: 'Inter', sans-serif; 
}


.site-experience > .experience-area .experience p { /* Text in boxes */
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif; 
    color: var(--primary-black);
}

.site-experience > .experience-area .experience:hover{
    box-shadow: var(--box-shadow);
}


/* Experience Section Top */

.semi-circle-1 {
    width: 370px;
    height: 330px; /* as the half of the width */
    background-color: #F6C6BC;
    border-radius: 50%; /* 100px of height + 10px of border */
    border: 10px solid #F6C6BC;
    border-bottom: 0;
    margin-left: -220px;
    /* display: inline-block; */
    opacity: 0.9;
    position: relative;
}

.experience-intro h1 { /* Experience title */
    font-size: 80px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    margin-top: 100px;
    margin-left: 280px;
    
}

.semi-circle-2 {
    width: 370px;
    height: 330px; /* as the half of the width */
    background-color: #e3e9ef;
    border-radius: 50%; /* 100px of height + 10px of border */
    border: 10px solid #e3e9ef;
    border-bottom: 0;
    margin-left: -220px;
    /* display: inline-block; */
    opacity: 0.9;
    position: relative;
    margin-bottom: 0;
}

/* whole area of works and buttons */
.project-area {
    margin-bottom: -50px;
}

/******* Experience Section Middle (Works) *******/
.site-experience > .project-area .project-bar {
    /* background: #393939;
    opacity: 0.8; */
    padding: 2rem 0 2rem 0;
    margin: 5rem .5rem;
    margin-top: -65px;
    border-radius: 1%;
    transition: box-shadow .7s ease;
}

.site-experience .project-area .button-group button {
    background: transparent;
    color: var(--primary-black);
    border: none;
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
    text-transform: lowercase;
    margin-top: -90px;
    padding: 0 3% 0 3%;
}

.site-experience .project-area .button-group button + button{
    padding-left: 3rem;
}



/************************** 1. Web Development Area ***************************/

/* Dark grey background of web dev project
.site-experience .webdev-area {
    padding: 6rem 2rem;
    background-color: #393939;
    opacity: 0.9;
}

/* Web dev title */
/* .site-experience .webdev-area .webdev-title {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.site-experience .webdev-area .webdev-text {
    color: #FFF;
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    font-size: 18px;
} */

/* images of projects */
/* .project img {
    margin-top: 45px;
    max-width: 90%;
    max-height: 20%;
    margin-left: -15px;
}

.site-experience > .webdev-area .experience {
    background: #EFF1FD;
    padding: 2rem 0;
    width: 18rem;
    margin: 5rem .5rem;
    margin-left: 14%;
    margin-top: -65px;
    border-radius: 1%;
    transition: box-shadow .7s ease;
} */

/* Three titles in each box */
/* .site-experience > .webdev-area .experience h5 { 
    margin-bottom: 25px;
    margin-top: 8px;
    font-family: 'Inter', sans-serif; 
} */


/* Text in boxes 
.site-experience > .webdev-area .experience p {  
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif; 
    color: var(--primary-black);
}

.site-experience > .webdev-area .experience:hover{
    box-shadow: var(--box-shadow);
} */

/* background of web dev project */
.site-experience .webdev-area {
    padding: 6rem 2rem;
    background-color: #393939;
    opacity: 0.9;
}

.grid { /* distance between grid and the page borders */
    margin-right: 10.5%;
    margin-left: 10.5%;
}

/* distance between images of projects */
.the-project {
    margin: 15px;
}

/* Data Science & Engineering title */
.site-experience .webdev-area .webdev-title {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.site-experience .webdev-area .grid .the-project > .title h4 {
    font-family: 'Inconsolata', monospace;
    font-weight:300;
    font-size: 20px;
    color: #FFF;
}


.site-experience .webdev-area .grid .the-project > .title span {
    font-family: 'Inter', sans-serif;
    color: #FFF;
}
/* .site-experience .data-area .grid .the-project .img {
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
} */


/* make the image brighter when hovering */
.site-experience .webdev-area .grid .the-project .img a:hover img {
    box-shadow: 0 0 0 300px rgba(0,0,0,0.9) inset;
    /* filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf); */
}

.site-experience .webdev-area .grid .the-project .img a:hover p {
    opacity: 1;
    transform: scale(1);
    color: #FFF;
    /* filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf); */
}




/*********************** Show Text when Hovering Image ************************/

/* Parent Container */
.site-experience .webdev-area .grid .the-project .img{
    position: relative;
}

/* Child Text Container */
.site-experience .webdev-area .grid .the-project .img div{
    position: absolute;
    bottom: 0;
    right: 0;
    background: black;
    color: white;
    /* margin-bottom: 5px; */
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    /* -webkit-transition: visibility 0s, opacity 0.5s linear;  
    transition: visibility 0s, opacity 0.5s ease-out; */
}

/* Hover on Parent Container */
.site-experience .webdev-area .grid .the-project .img:hover{
    cursor: pointer;
}    

.site-experience .webdev-area .grid .the-project .img:hover div{
    width: 100%;
    height:100%;
    visibility: visible;
    opacity: 0.9;        
    -webkit-transition: border-radius 2s;
    transition: visibility 0s, opacity 0.2s linear;
    -webkit-transition: padding 2s;
    transition: visibility 0s, opacity 0.2s linear;
    
}


.site-experience .webdev-area .grid .the-project .img .project-description{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    padding: 33% 20px 35% 20px;
    text-align: center;

}


/***************************************************************************/
/************************** 2. Data Science Area ***************************/
/***************************************************************************/

/* background of web dev project */
.site-experience .data-area {
    padding: 6rem 2rem;
    background-color: #faf4f3;
    opacity: 0.9;
}

.grid { /* distance between grid and the page borders */
    margin-right: 10.5%;
    margin-left: 10.5%;
}

/* distance between images of projects */
.the-project {
    margin: 15px;
}

/* Data Science & Engineering title */
.site-experience .data-area .data-title {
    color: var(--primary-black);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.site-experience .data-area .grid .the-project > .title h4 {
    font-family: 'Inconsolata', monospace;
    font-weight:300;
    font-size: 20px;
    color: #333;
}

/* .site-experience .data-area .grid .the-project .img {
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
} */

/* make the image brighter when hovering */
.site-experience .data-area .grid .the-project .img a:hover img {
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}



  
  /* .overlayimg image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--primary-blue);
  }
  
  .container:hover .overlay {
    opacity: 0.8;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  } */


/********** Text on Image show when Hover ***********/
/* .text-on-image {
    position: relative;
}

.text {
    position: absolute;   
    bottom: 0;
    left: 0;
    height: 50%;
    display: none;
    color: white;
    -webkit-transition: visibility 0s, opacity 0.5s linear;  
    transition: visibility 0s, opacity 0.5s linear;
    text-align: center;
}

.text-active{
    position: absolute;   
    bottom: 0;
    text-align: center;
    display: block;
    background: white;
    width: 100%;
    height: 50%;
    -webkit-transition: visibility 0s, opacity 0.5s linear;  
    transition: visibility 0s, opacity 0.5s linear;
}

.text-on-image:hover .text {
    display: block;
    background: var(--primary-blue);
    opacity: 0.8;
    width: 100%;
    height: 100%;
    -webkit-transition: visibility 0s, opacity 0.5s linear;  
    transition: visibility 0s, opacity 0.5s linear;
} 

.site-experience .webdev-area .grid .the-project .text-on-image {
    transition: 0.5s;
    position: relative;
}

.site-experience .webdev-area .grid .the-project .text-on-image p {
    opacity: 0;
    transform: scale(0);
    transition: 0.8s;
    font-size: 2rem;
    color: white;
    position: absolute;
} */


/* socials icon */
ion-icon {
    position: relative;
    color: #FFF;
    font-size: 25px;
    left: 85%;
    bottom: 5%;
    padding-left: 1%;
}

/* arrow icon */
.site-experience .data-area .up {
    position: relative;
    color: #333;
    font-size: 35px;
    left: 50%;
    /* margin-right: -50%; */
    bottom: 5%;
}

.carousel {
    overflow: hidden;
    border-radius: 2px;
    position: relative;
    padding-top: 5rem;
    /* max-width: 50%; */
    /* margin: 1em; */
    height: 530px;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    margin-top: 50%;
}


/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Inter', sans-serif; */
/* font-family: 'Inconsolata', monospace; */

/* The block next to carousel */
.project-intro {
    margin-top: 5rem;
    background-color: var(--second-blue);
    opacity: 0.8;
    /* margin-bottom: 4px; */
}

.project-title {
    margin-top: 35%;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    font-weight: 300;
    margin-left: 5%;
}

.project-descrip {
    padding-top: 2%;
    padding-right: 5%;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    font-weight: 300;
    margin-left: 5%;
}