header {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #454444;
}

/*********** TOP NAVIGATION BAR ************/

.top_row_left_logo a { /* Scotty Logo */
    float: left;
    background-color: rgb(242, 236, 236);
    padding: 17px 10px 6px 18px;
    text-decoration: none;
}

.top_row_left_text a { /* Health Connect */
    float: left;
    background-color: rgb(242, 236, 236);
    padding: 38.5px 16px 35px 5px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

/* remove the hyper link text decoration */
.top_row_left_text a:link { text-decoration: none; }
.top_row_left_text a:visited { 
    text-decoration: none; 
    color: #333;
}

#top_row nav {
    overflow: hidden;
    background-color: rgb(242, 236, 236);
}

.top_row_left_logo img {
    
}
#top_row nav a {
	float: right;
    color: #333;
    text-align: center;
    padding: 41px 25px 41px 25px;
    text-decoration: none;
    font-size: 14px;
    background-color: rgb(242, 236, 236);
    margin-right: 20px;
}

#top_row nav a:hover {
    background-color: #F6F5F5;
    color: #383737;
    font-weight: bold;
}
  
#top_row nav a.active {
    font-weight: bold;
}

.toprow_left a {
    float: left;
    color: #F6F5F5;
    text-align: left;
    margin-right: 200px;
    padding-left: 25px;
    text-decoration: none;
    font-size: 22px;
}


h4.homepage-heading {
    position: relative;
    font-size: 26px;
    color: white;
    margin: 80px auto 28px auto;
    text-align: center;
    font-weight:lighter;
    font-family: 'Montserrat', sans-serif;
}

.content{
    margin-left: 50px;
}

.button_col{
    flex: 50%;
    padding: 10px;
    max-width: 70%;
}
  
.button_col img {
    width: 50%;
    height: 65%;
}
  
.button_row {
    display: flex;
}
  
.button_row a {
    color: black;
    text-decoration: none;
}



/*********** UPCOMING APPOINTMENTS (CART) ************/

h4.upcoming-heading {
    position: relative;
    font-size: 25px;
    color: white;
    padding: 50px;
    padding-left: 75px;
    padding-bottom: 0px;
    margin-bottom: 28px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}

h3 {
    position: relative;
    font-size: 26px;
    color: white;
    padding: 20px 20px 0px 20px;
    margin: 70px 490px 0px 50px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}

p { /* instructions */
    position: relative;
    font-size: 15px;
    color: white;
    padding: 20px;
    margin: 0px 490px 28px 50px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}

.appt_options { /* the two options of appointment type */
    position: relative;
    color: white;
    text-align: left;
    padding: 40px 20px 30px 16px;
    margin: 0px 490px 28px 50px;
    font-size: 16px;
}


.table-background {
    border: 10px;
    background: #F6F5F5;
    background-clip: padding-box;
    margin: 15px 75px auto 75px;
    padding: 0px 50px 50px 50px;
    border-radius: 15px;
}


table.upcoming_appt  { 
    border-collapse: collapse; 
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%; 
    margin: 0px auto auto auto;
}

table.upcoming_appt th, table.upcoming_appt td { 
    padding: 8px 16px;
    line-height: 55px;
    background:#F6F5F5;
    color: #585757;
    font-size: 15px;
    text-align: left;
}

table.upcoming_appt tr  {
    border-bottom: 1px solid #585757;
}

/*********** HOMEPAGE IMAGE COLUMN ************/
/* .image_column {
    display: flex;
    flex-direction: row;
}

.image_1 {
    flex-basis: 20%;
    text-align: center;
    background: url('https://images.unsplash.com/photo-1545239351-1141bd82e8a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=962&q=80') top no-repeat;
    background-size: cover;
    height: 9cm;
    margin: 50px 70px 30px auto;
    border-radius: 20px;
    border: 1px solid #F6F5F5;
}

.image_2 {
    flex-basis: 20%;
    text-align: center;
    background: url('https://images.unsplash.com/photo-1518976024611-28bf4b48222e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=770&q=80') top no-repeat;
    background-size: cover;
    height: 9cm;
    margin: 50px 20px 30px 20px;
    border-radius: 20px;
    border: 1px solid #F6F5F5;
}

.image_3 {
    flex-basis: 20%;
    text-align: center;
    background: url('https://images.unsplash.com/photo-1507831228884-93d43e81a99d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=770&q=80') top no-repeat;
    /* linear-gradient */
    /* background-size: cover;
    height: 9cm;
    margin: 50px auto 30px 70px;
    border-radius: 20px;
    border: 1px solid #F6F5F5;
}  */

    
/* .home_btns {
    text-align: center;
    font-size: 14px;
    width: 100%;
    padding: 15px 0px 15px 0px;
    margin-top: 370px;
    background-color: transparent;
    border: 1px solid #FFF;
    border-radius: 28px;
    display: inline-block;
    text-decoration: none;
    color: #FFF;
}

/* remove the hyper link text decoration */
.home_btns a:link { 
    text-decoration: none; 
    color: #FFF;
}
.home_btns a:visited { 
    text-decoration: none; 
    color: #FFF;
}

.home_btns:hover {
    background-color: #F6F5F5;
    color: #333;
}

.home_btns a:hover {
    color: #333;
} */



/*********** SELECT APPOINTMENT TYPE (appointment.html)************/

#buttons {
    clear: left;
    display: flex;
    justify-content: right;
}

#continue_button_1 {
    margin: 270px 80px auto auto;
    padding: 10px 15px 10px 15px;
    background-color: #F6F5F5;
    border: 1px solid #c2c2c2;
    border-radius: 25px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    color:#454444;
    font-size: 14px;
}

#back_button_1 {
    margin: 270px 80px auto auto;
    padding: 10px 15px 10px 15px;
    background-color: #F6F5F5;
    border: 1px solid #c2c2c2;
    border-radius: 25px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    color:#454444;
    font-size: 14px;
}

#continue_button_1:hover {
    background: #DFDFDF;
    color: #454444;
}

#back_button_1:hover {
    background: #DFDFDF;
    color: #454444;
}


/*********** SELECT DATE AND TIME ************/

#continue_button_2 {
    margin: 230px 80px auto auto;
    padding: 10px 15px 10px 15px;
    background-color: #F6F5F5;
    border: 1px solid #c2c2c2;
    border-radius: 25px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    color:#454444;
    font-size: 14px;
}

#back_button_2 {
    margin: 230px 80px auto auto;
    padding: 10px 15px 10px 15px;
    background-color: #F6F5F5;
    border: 1px solid #c2c2c2;
    border-radius: 25px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    color:#454444;
    font-size: 14px;
}

#continue_button_2:hover {
    background: #DFDFDF;
    color: #454444;
}

#back_button_2:hover {
    background: #DFDFDF;
    color: #454444;
}

/*********** LAB RESULTS (TABLE) ************/

.table-background {
    border: 10px;
    background: #F6F5F5;
    background-clip: padding-box;
    margin: 15px 75px auto 75px;
    padding: 0px 50px 50px 50px;
    border-radius: 20px;
}

/* .tableFixHead          { overflow: auto; height: 100px; }
.tableFixHead thead th { position: absolute; top: 0; z-index: 1; } */

table.lab_result  { 
    border-collapse: collapse; 
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%; 
    margin: 0px auto auto auto;
}

table.lab_result th, table.lab_result td { 
    padding: 8px 16px;
    line-height: 55px;
    background:#F6F5F5;
    color: #585757;
    font-size: 15px;
    text-align: left;
}

table.lab_result tr  {
    border-bottom: 1px solid #585757;
}

/* .back_button_4 {
    padding: 10px 15px 10px 15px;
    margin: auto 75px auto 1300px;
    font-size: 13px;
    top: 140px;
    background-color: #F6F5F5;
    border-radius: 25px;
    display: inline-block;
    position: absolute;
}

.back_button_4:hover {
    background: #DFDFDF;
    color: #454444;
} */


/*********** DROPDOWN MENU ************/

.date_dropdown {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 8px 10px 14px;
    margin-left: 70px;
    background: #F6F5F5;
    border: 1px solid #c2c2c2;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    width: 20%
}

  
.date_dropdown select {  /* the arrow */
    background: transparent;
    font-family: 'Open Sans', sans-serif;
    line-height: 1;
    border: 0;
    border-radius: 0;
    width: 97%;
    position: relative;
    z-index: 10;
    font-size: 1em;
}


.time_dropdown {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 8px 10px 14px;
    margin-top: 50px;
    margin-left: 70px;
    background: #F6F5F5;
    border: 1px solid #c2c2c2;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    width: 20%
}


.time_dropdown select {  /* the arrow */
    background: transparent;
    font-family: 'Open Sans', sans-serif;
    line-height: 1;
    border: 0;
    border-radius: 0;
    width: 97%;
    position: relative;
    z-index: 10;
    font-size: 1em;
}
  

/*********** CONFIRM APPOINTMENT ************/

table.confirm {
    background: transparent;
    width: 40%;
}

table.confirm {
    width: 40%; 
    margin: 0px auto auto 50px;
    padding: 0px 60px 0px 10px;
}

table.confirm th, table.confirm td { 
    padding: 8px 10px; 
    line-height: 32px;
    font-size: 16px;
    color: #F6F5F5;
    text-align: left;
}

iframe {
    float: right;
    display: block;
	margin: 105px 80px 0px auto;
    width: 25%;
    border-radius: 15px;
}

p.barcode-msg {
    margin: 60px auto auto 53px;
}

#galleryThumbnail1 img {
    width: 30px;
    height: 30px;
    margin: 0px 50px 50px 75px;
}


#confirm_button {
    margin: 0px 50px 40px 1050px;
    padding: 10px 15px 10px 15px;
    background-color: #F6F5F5;
    border: 1px solid #c2c2c2;
    border-radius: 25px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    color:#333;
    font-size: 14px;
}

#back_button_3 {
    margin: 0px 80px 40px auto;
    padding: 10px 15px 10px 15px;
    background-color: transparent;
    border: 1px solid #c2c2c2;
    border-radius: 25px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    color:#FFF;
    font-size: 14px;
}

#confirm_button:hover {
    background: #DFDFDF;
    color: #454444;
}

#back_button_3:hover {
    background: #DFDFDF;
    color: #454444;
}


.barcode_image {
    position: absolute;
    border-radius: 5px;
    margin: 470px 820px 0px 70px;
    width: 10%;
    height: auto;
}

/*********** CURRENT APPOINTMENT ************/

#cancel_button_2 {
    margin: 220px auto 50px auto;
    display: block;
    padding: 10px 15px 10px 15px;
    background-color: #F6F5F5;
    border: 1px solid #c2c2c2;
    border-radius: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

/* #back_button_4 {
    margin: 0px 60px 40px 0px;
    padding: 10px 15px 10px 15px;
    background-color: transparent;
    border: 1px solid #c2c2c2;
    border-radius: 25px;
    font-family: 'Open Sans', sans-serif;
    color:#FFF;
    font-size: 14px;
} */

#cancel_button_2:hover {
    background: #DFDFDF;
    color: #454444;
}

/* #back_button_4:hover {
    background: #DFDFDF;
    color: #454444;
} */

